flows.json
[{"id":"98f1b51f.c0d57","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"20ba734b.7797b4","type":"ibmiot in","z":"98f1b51f.c0d57","authentication":"apiKey","apiKey":"8ab35cf3.145f3","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456789","applicationId":"","deviceType":"nodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":50,"y":360,"wires":[["b46c89.8df9db78","8881e2e2.52496","f588c0e8.e20d2","d263930f.095b18"]]},{"id":"b46c89.8df9db78","type":"debug","z":"98f1b51f.c0d57","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":360,"wires":[]},{"id":"8881e2e2.52496","type":"function","z":"98f1b51f.c0d57","name":"temp","func":"msg.payload=msg.payload.d.temperature; \nreturn msg;","outputs":1,"noerr":0,"x":330,"y":280,"wires":[["b46c89.8df9db78","b992a6ed.ef7328"]]},{"id":"f588c0e8.e20d2","type":"function","z":"98f1b51f.c0d57","name":"Humidity","func":"msg.payload=msg.payload.d.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["b46c89.8df9db78","61e5a148.e3b6d"]]},{"id":"d263930f.095b18","type":"function","z":"98f1b51f.c0d57","name":"Moisture","func":"msg.payload=msg.payload.d.objectTemp;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":220,"wires":[["b46c89.8df9db78","29b24b40.c9524c"]]},{"id":"b992a6ed.ef7328","type":"ui_gauge","z":"98f1b51f.c0d57","name":"","group":"1ca161b5.47f9f6","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Degree Celcius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":240,"wires":[]},{"id":"61e5a148.e3b6d","type":"ui_gauge","z":"98f1b51f.c0d57","name":"","group":"7adec478.c52784","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":100,"wires":[]},{"id":"29b24b40.c9524c","type":"ui_gauge","z":"98f1b51f.c0d57","name":"","group":"9f8470ae.3af2e","order":2,"width":0,"height":0,"gtype":"gage","title":"Soil Moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":180,"wires":[]},{"id":"c058741f.6c81a","type":"http request","z":"98f1b51f.c0d57","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=London,uk&APPID=df7f23761987ca590a660866c32ac38b","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":460,"wires":[["b46c89.8df9db78"]]},{"id":"a1401b85.e7d95","type":"inject","z":"98f1b51f.c0d57","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"0.5","x":190,"y":460,"wires":[["c058741f.6c81a"]]},{"id":"5559209c.efbbb","type":"ibmiot out","z":"98f1b51f.c0d57","authentication":"apiKey","apiKey":"8ab35cf3.145f3","outputType":"cmd","deviceId":"12345678","deviceType":"AnupIoT","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":480,"y":580,"wires":[]},{"id":"bc63a0c7.7c4f58","type":"ui_button","z":"98f1b51f.c0d57","name":"","group":"f80d44f2.a595a8","order":0,"width":0,"height":0,"passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":190,"y":540,"wires":[["5559209c.efbbb"]]},{"id":"a9a87b05.e9e5b8","type":"ui_button","z":"98f1b51f.c0d57","name":"","group":"1112f650.717142","order":1,"width":0,"height":0,"passthru":false,"label":"motor OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":200,"y":600,"wires":[["5559209c.efbbb"]]},{"id":"8ab35cf3.145f3","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"1ca161b5.47f9f6","type":"ui_group","z":"","name":"IoT_Temperature","tab":"500b1dd1.953b1c","order":3,"disp":true,"width":"6","collapse":false},{"id":"7adec478.c52784","type":"ui_group","z":"","name":"IoT_Humidity","tab":"500b1dd1.953b1c","order":4,"disp":true,"width":"6","collapse":false},{"id":"9f8470ae.3af2e","type":"ui_group","z":"","name":"IoT_Soil_Moisture","tab":"500b1dd1.953b1c","order":2,"disp":true,"width":"6","collapse":false},{"id":"f80d44f2.a595a8","type":"ui_group","z":"","name":"Motor Details","tab":"500b1dd1.953b1c","order":5,"disp":true,"width":"6","collapse":false},{"id":"1112f650.717142","type":"ui_group","z":"","name":"IoT","tab":"500b1dd1.953b1c","order":1,"disp":true,"width":"6","collapse":false},{"id":"500b1dd1.953b1c","type":"ui_tab","z":"","name":"SmartAgriculture ","icon":"dashboard","disabled":false,"hidden":false}]